.title!= replace(data.name, createLink)
.metadata
	ul
		each value, key in data.metadata
			li
				span.key= key+': '
				span.value= value
				
if fulltext
	//- .found= found
	//- .keywords
	if data._kwic != null
		//- - console.log(data._kwic)
		if data._kwic['Transcription'].length == 1
			ul.kwic
				li!= data._kwic['Transcription'][0]
		else
			each kwic, layer in data._kwic
				ol.kwic
					each row in kwic
						li!= row						