- var geslacht = {"MALE": "Man", "FEMALE": "Vrouw", "UNKNOWN": "Onbekend"}

header
	h2= model.get('name')

	i.fa.fa-search(title="Zoek brieven")

ul
	if model.get('altNames').length > 0
		li
			h3 Alternatieve naam
			ul
				for altName in model.get('altNames')
					li= altName.displayName
						small= "(" + altName.nametype + ")"
	li
		h3 Geboortejaar - Sterfjaar
		ul
			li
				span= model.get('birthDate')
				if model.get('birthdateQualifier') != ""
					small= "(" + model.get('birthdateQualifier') + ")"
				span= " - "
				span= model.get('deathDate')
				if model.get('deathdateQualifier') != ""
					small= "(" + model.get('deathdateQualifier') + ")"
	li
		h3 Geslacht
		span= geslacht[model.get('gender')]
	li
		h3 Netwerk
		ul
			for networkDomain in model.get('networkDomains')
				li= networkDomain
	li
		h3 Familierelaties met andere correspondenten
		ul
			for relative in model.get('relatives')
				- relative = relative.split(" van: ");
				li= relative[0] + " van: "
					span.link= relative[1]
	li
		h3 Karakteristiek
		ul
			for characteristic in model.get('characteristics')
				li= characteristic
	li
		h3 Subdomein
		ul
			for subDomain in model.get('subDomains')
				li= subDomain
	li
		h3 Domein
		ul
			for domain in model.get('domains')
				li= domain

	li
		h3 Periodiek
		ul
			for periodical in model.get('periodicals')
				li= periodical

	li
		h3 Lidmaatschap
		ul
			for membership in model.get('memberships')
				li= membership


	div.lees-meer
		button Lees meer
		ul
			if model.get('biodesurl').length > 0
				li
					a(href=model.get('biodesurl'), data-bypass, target="_blank") Bioport URL
					i.fa.fa-external-link
			if model.get('dbnlUrl').length > 0
				li
					a(href=model.get('dbnlUrl'), data-bypass, target="_blank") DBNL URL
					i.fa.fa-external-link
			li
				h3 Overige bronvermeldingen
				span.notities!= model.get('notities')
			li
				h3 Opmerkingen
				span!= model.get('opmerkingen')
