- var birth = data.birthDate != null ? data.birthDate : "?"
- var death = data.deathDate != null ? data.deathDate : "?"
- var genderMap = {MALE: "Man", FEMALE: "Vrouw", UNKNOWN: "Onbekend"}
.title= data.koppelnaam
	small= "("+birth+" - "+death+")"

.metadata
	ul
		li(data-facetname="dynamic_s_gender")
			span.key= 'Geslacht: '
			span.value
				span= genderMap[data.gender]

		if data.networkDomains.length > 0
			li(data-facetname="dynamic_s_networkdomain")
				span.key= 'Netwerk: '
				span.value
					each val in data.networkDomains
						span= val

		if data.combinedDomains.length > 0
			li(data-facetname="dynamic_s_combineddomain")
				span.key= 'Domeinen: '
				span.value
					each val in data.combinedDomains
						span= val

		if data.characteristics.length > 0
			li(data-facetname="dynamic_s_characteristic")
				span.key= 'Karakteristieken: '
				span.value
					each val in data.characteristics
						span= val

		if data.memberships.length > 0
			li(data-facetname="dynamic_s_membership")
				span.key= 'Lidmaatschappen: '
				span.value
					each val in data.memberships
						span= val

		if data.periodicals.length > 0
			li(data-facetname="dynamic_s_periodical")
				span.key= 'Periodieken: '
				span.value
					each val in data.periodicals
						span= val