.metadata
	button.green.toggle-metadata Metadata
	.table-container
		table
			each m, i in model.get("metadata")
				if m.field != "Transcriptie"
					tr
						td= m.field.replace(/\(.+\)/, "")
						td= m.value

h2!= title

.container
	.facsimile
		iframe(src=model.get("facsimiles")[0] ? model.get("facsimiles")[0].zoom : "about:blank")
	.text!= text
