doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title Huygens ING
		link(rel="stylesheet", type="text/css", href="#{__DEPLOYMENT__}/css/main.css")
		script.
			var BASE_URL = '${BASE_URL}';
		script(data-main="#{__DEPLOYMENT__}/js/main", src="#{__DEPLOYMENT__}/lib/requirejs/require.js")
	body
		| Loading, please wait. 
		